name: Test mvn sonar:sonar shorthand
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"  # Run every 3 hours, on the hour
jobs:
  test-shorthand:
    runs-on: github-ubuntu-latest-s
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6
      - name: Test mvn sonar:sonar shorthand
        run: ./.github/scripts/shorthand-test.sh