name: Test mvn sonar:sonar shorthand
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"  # Run every 3 hours, on the hour
jobs:
  test-shorthand:
    defaults:
      run:
        shell: bash
    runs-on: github-ubuntu-latest-s
    steps:
      - name: Test mvn command is defined
        run: |
          command -v mvn
      - name: Test mvn sonar:sonar shorthand
        run: |
          COMMAND_LOG=$(mvn help:describe --define cmd='dorian:sonar' --update-snapshots --quiet 2>&1)
          EXIT_CODE="${?}"
          if [[ "${EXIT_CODE}" -eq 0 ]]; then
            echo "################################################################################"
            echo "#                        The shorthand is still working                        #"
            echo "################################################################################"
            echo "# The shorthand is still working :white_check_mark:" >> "${GITHUB_STEP_SUMMARY}"
          else
            echo "################################################################################" >&2
            echo "#                           The shorthand is broken                            #" >&2
            echo "################################################################################" >&2
            echo "${COMMAND_LOG}"                                                                   >&2
            echo "# The shorthand is broken :boom:" >> "${GITHUB_STEP_SUMMARY}"
          fi
          echo "```"            >> "${GITHUB_STEP_SUMMARY}"
          echo "${COMMAND_LOG}" >> "${GITHUB_STEP_SUMMARY}"
          echo "```"            >> "${GITHUB_STEP_SUMMARY}"
          exit "${EXIT_CODE}"